.benefits {
    position: relative;
    padding: 120px 0;

    &::after {
        content: "II";
        top: 0;
        left: calc(50% + 555px);
        transform: translate(-50%, 0%);
        line-height: 1.2;
        @include decorNumber;
    }
}

.benefits-row {
    display: flex;
    column-gap: 70px;
}

.benefits-item {
    text-align: center;
}

.benefits-item-img {
    margin-bottom: 53px;
}

.benefits-item-text {
    font-size: 20px;
    line-height: 1.35;
    font-family: $font-secondary;
    font-weight: 300;
}